
.body{
    font-family: 'Poppins', sans-serif;   
}
/* Main menu */
.banner{
background: #2D25A0;
}
main a{
    color: white;
    text-decoration: none;
    margin-right: 36px; 
}
.menu-bar{
    display:flex; 
    margin-top: 42px;
    align-items: center;
    justify-content: space-evenly;
}

.menu-button{
    width: 123px;
    height: 44px;
    background-color: #E02C6D ;
    margin-top: 35px;
    padding-left: 55px;
    padding-top: 25px;
}
.icon-space{
    padding-left: 15px;
}
/* main-banner section */
.main-banner{
    display: flex;
}
.conmebol{
color:white; 
font-weight: 700; 
font-size: 100px; 
margin-left:250px ; 
}
.live{
    width: 168px;
    height: 44px;
    background-color: #E02C6D ;
    padding-left: 55px;
    padding-top: 25px;
    margin-left:250px ;
}
.banner-picture img{
    width: 85%;
    height: 85%;
    margin-top: 50px;
}
.banner-picture:hover{
    transform: scale(1.2,1.2);
    transition-duration: 2s;
}
/* top players info section */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap:30px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 10em;
    padding-right: 10em;
    background-color: rgba(64, 4, 112, 0.61);
}
.player{
    background-color: white;
    border: 1px solid black;
    padding: 25px;  
}
h2{
    font-weight: bold;
}
.player img{
    width: 100%;
}
/* highlights section */
.highlights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 150px;
}
.live-button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D ;
    padding-left: 55px;
    padding-top: 25px;
}
 .highlights img{ 
    width: 90%;
    height: 90%;
    padding: 15px;
} 
 h1{
    font-size: 60px;
} 
 /*best goals section  */
.best-goals{
    display: flex;
    margin: 150px;
}
.right-side{
    padding-left: 150px;
    
}
/* fixture section */
.fixture{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(212, 166, 80, 0.295);
 }
 
table{
    width: 900px;
    height: 400px;
    margin-bottom: 60px;
}
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
tr{
    background-color:lavender;
}
td{
    text-align: center;
}
/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-image{
   
}

.social-media img{ 
    margin-right: 20px;
    width: 3em;
}

/* media queries */

/* mobile devices */
@media only screen and (max-width:688px) {
    body{
        overflow-y: hidden;
    }
    .menu-bar{
        display: flex;
        flex-wrap:wrap ;
    }
    
    .main-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }
    .conmebol{
        font-weight: 200; 
        font-size: 60px; 
        margin-left:100px ;
    }
    
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        padding: 50px;
        font-size: 20px;
    }
    .highlights{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        
    }
    .best-goals{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       margin-left: 30px;
    }
    .right-side{
        margin-left: 5px;
    }
    .fixture{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 120px;
    }
    .fixture h1{
        text-align: center;
    }
    table{
        width: 400px;
        height: 200px;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
     .footer-image{ 
     width: 50%;
     margin-right: 30px;
    } 
    .social-media img{ 
        margin-right: 15px;
        width: 1.5em;
        justify-content: center;
    }
}

@media only screen and (min-width:688px) and (max-width:999px)
{
    .menu-bar{
        display: flex;
        flex-wrap:wrap ;
    }
    
    .main-banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }
    .conmebol{
        font-weight: 200; 
        font-size: 70px; 
        margin-left:80px ;
    }
    .players{
        display:grid ;
        grid-template-columns: repeat(2,1fr);
    }
    .highlights{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;  
    }
    .left-side{
        left: 0px;
    }
    .highlights img{
        height: 650px;
        width: 400px;
    }
    .best-goals{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       margin-left: 30px;
    }
    
    .fixture{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
    }
    .fixture h1{
        text-align: center;
    }
    table{
        width: 400px;
        height: 200px;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .footer-image{
      display: flex;
      justify-content: center;
      align-items: center;
     height: 300px ;
     width: 300px;
     
     
   }
}